.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}